.toggle-mode {
  & > label {
    @apply mr-10 transition-all md:mr-0;
  }
  .dot-inner {
    transform: translateX(-50%);
  }
  input:checked ~ .dot {
    transform: translateX(100%);
    .dot-inner {
      transform: translateX(0);
    }
  }
}

html.dark {
  body {
    @apply bg-black;
  }
}
