:root {
	--mobile-menu-duration: 0.185s;
}
.main-navigation {
	@apply relative flex items-center;
	.menu-toggle {
		@apply absolute right-0 top-1/2 z-40 block h-8 w-8 -translate-y-1/2 appearance-none overflow-hidden border-0 -indent-[9999rem] md:hidden;
		span {
			@apply absolute left-0 h-0.5 w-full bg-white;
			&:first-child,
			&:last-child {
				transition-property: top, transform;
				transition-duration: var(--mobile-menu-duration),
					var(--mobile-menu-duration);
				transition-delay: var(--mobile-menu-duration), 0s;
				transition-timing-function: ease, ease;
				transform-origin: center;
			}
			&:last-child {
				transition-property: bottom, transform;
			}
			&:first-child {
				top: 6px;
			}
			&:nth-child(2) {
				top: calc(50% - 1px);
				transition: opacity var(--mobile-menu-duration) ease
					var(--mobile-menu-duration);
			}
			&:last-child {
				bottom: 6px;
			}
		}
		&[aria-expanded='true'] {
			span {
				&:first-child {
					top: 15px;
					transform: rotate(45deg);
					transition-delay: 0s, var(--mobile-menu-duration);
				}
				&:last-child {
					bottom: 15px;
					transform: rotate(-45deg);
					transition-delay: 0s, var(--mobile-menu-duration);
				}
				&:nth-child(2) {
					opacity: 0;
				}
			}
		}
	}
	.menu-primary-container {
		@apply fixed left-0 top-[100vh] flex h-screen w-full items-center justify-center bg-black
		md:static md:mr-3 md:block md:h-auto md:w-auto md:bg-transparent;
		.menu {
			@apply flex flex-col items-center gap-5 md:flex-row lg:gap-6;
			.menu-item {
				@apply opacity-0;
			}
			a {
				@apply text-2xl font-semibold text-white outline-none md:text-sm lg:text-base;
			}
			.btn {
				@apply hidden lg:list-item;
				a {
					@apply inline-flex h-10 items-center bg-[var(--primaryColor)] px-6 text-sm font-semibold;
				}
			}
		}
	}
}

// body.is-mobile-menu {
// 	@apply fixed;
// }
